/interview-notes/ep2-rob-simmons/*.org#

/interview-notes/ep2-rob-simmons/*.org~
*.org~
pic-src/show-icons/bates-icon.psd
pic-src/show-icons/bates-icon.tif
pic-src/show-icons/~$title-splash-and-guest-icon-format.pptx
*.html~
pic-src/show-icons/Thumbs.db
webpage/pic-icons/Thumbs.db
webpage/pic-show/Thumbs.db
webpage/pic-icons/Thumbs.db
*.tex~
*.org#
pic-src/show-icons/sigcse-2015-creature-features/Thumbs.db
pic-src/show-icons/sigcse-2015-creature-features/Thumbs.db
