/interview-notes/ep2-rob-simmons/*.org#

/interview-notes/ep2-rob-simmons/*.org~
*.org~
pic-src/show-icons/bates-icon.psd
pic-src/show-icons/bates-icon.tif
pic-src/show-icons/~$title-splash-and-guest-icon-format.pptx
